<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" lang="es" translate="no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" charset="utf-8" lang="es" translate="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" href="Content/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="Content/icon.png">
    <meta name="theme-color">
    <title>[MAsk]</title>
    <meta name="mobile-web-app-capable" content="yes">
    <link href="Content/normalize.css" rel="stylesheet" />
    <link rel="stylesheet/less" type="text/css" href="Content/Undo.less" />
    <script src="Scripts/less.min.js"></script>
    <link href="Content/comun.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.1.1.min.js"></script>
    <script src="Scripts/moment-with-locales.min.js"></script>
    <script src="Scripts/vue.js"></script>
    <script src="Scripts/vue-resourse.js"></script>
    <script src="Scripts/comentar.js"></script>
    <script src="Scripts/undo.js"></script>
    <script>
        moment.locale('es');
        $(document).ready(function () {
            $(function () {
                $(window).scroll(sticky_relocate);
            });
            function sticky_relocate() {
                var window_top = $(window).scrollTop();
                var div_top = $('#sticky-anchor').offset().top;
                if (window_top > div_top) {
                    $('#sticky').addClass('stick');
                    $('#sticky-anchor').height($('#sticky').outerHeight());
                } else {
                    $('#sticky').removeClass('stick');
                    $('#sticky-anchor').height(0);
                }
            }
            $('[data-target="#home"]').on('click', function () {
                $('html,body').animate({ scrollTop: $("#header").offset().top }, 'slow');
            });
        });
    </script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <div id="header" :style="'background-color: '+color+';'">
        <nav style="margin-bottom: 0px; border-radius: 0px;">
            <ol class="breadcrumb" style="white-space:nowrap;overflow-x:auto;">
                <li><a href=".." style="color:black">Home</a></li>
                <li v-cloak v-for="link in links" class="redpo"><a :href="link.url" :style="'color: #'+link.Color+';'">{{link.Name}}</a></li>
            </ol>
            <div style="text-align: center;">
                <div v-if="path != 'home'">
                    <h1 class="title">{{path}}</h1>
                    <br>
                    <h4>
                        {{des}}
                    </h4>
                </div>
                <div v-else>
                    <h1 class="title">MAsk<kbd data-toggle="modal" data-target="#myModal">ß</kbd></h1>
                    <br>
                    <h4>
                        The Massive Ask
                    </h4>
                </div>

            </div>
        </nav>
        <div id="sticky-anchor"></div>
        <div id="sticky" :style="'background-color: '+color+';'">
            <!-- Nav tabs -->
            <ol class="nav-tabs">
                <li v-if="path == 'home'" class="tab" data-target="#FAQ" data-toggle="tab">FAQ</li>
                <li v-if="path == 'home'" class="tab active" data-target="#home" data-toggle="tab">Home</li>
                <li v-if="path != 'home'" class="tab"><a href="..">Home</a></li>
                <li v-if="path != 'home'" class="tab active" data-target="#home" data-toggle="tab">Posts</li>
                <li v-if="path == 'home'" class="tab" data-target="#rules" data-toggle="tab">Reglas</li>
                <li class="tab" data-target="#registrar" data-toggle="tab">Registrar</li>
                <li class="tab" data-target="#entrar" data-toggle="tab">Entrar</li>
            </ol>
        </div>
    </div>
    <script>
        var path = window.location.pathname;
        var boarlinks = new Vue({
            el: '#header',
            data: {
                links: [],
                path: path,
                des: '',
                color: ''
            },
            methods: {
                cargarLinks() {
                    this.$http.post('zoe.asmx/BoardLinks')
                        .then(function (response) {
                            this.links = response.body.d;
                            switch (path) {
                                //home
                                case '/':
                                    this.path = 'home';
                                    let colr = (Math.round(Math.random() * 127) + 127).toString(16) + (Math.round(Math.random() * 127) + 127).toString(16) + (Math.round(Math.random() * 127) + 127).toString(16);
                                    this.color = "#" + colr;
                                    $('[name=theme-color]').attr('content', '#' + colr);
                                    break;
                                //custom board for not exist in db (need [path,des,color])
                                case '/axl':
                                    this.path = 'axl';
                                    this.des = 'axl';
                                    this.color = 'gray';
                                    break;
                                //error page
                                case '/error':
                                    this.path = 'Error :V';
                                    this.des = 'lo que usted buscaba no se encuentra...(almenos que buscara esta pagina)';
                                    this.color = 'red';
                                    break;
                                //board (succes / fail)
                                default:
                                    let tmp = response.body.d.filter(x => x.url == path.substring(1))[0];
                                    if (!tmp) {
                                        this.path = 'Error :V';
                                        this.des = 'lo que usted buscaba no se encuentra...(almenos que buscara esta pagina)';
                                        this.color = 'red';
                                    } else {
                                        this.path = tmp.Name;
                                        this.des = tmp.Descripcion;
                                        this.color = '#' + tmp.Color;
                                        $('[name=theme-color]').attr('content', '#' + tmp.Color);
                                    }
                            }
                        })
                }
            },
            created: function () {
                this.cargarLinks();
            }
        })
    </script>
    <!-- Content -->
    <div class="tab-content">
        <div class="tab-pane" id="FAQ">
            <dl>
                <dt>¿Qué es MAsk?</dt>
                <dd>Un (no)sencillo tablón de texto. Donde cada tablon es dedicado a un tema en especifico.</dd>
                <dt>¿Qué se hace aquí?</dt>
                <dd>En escencia escibir y leer; escribes lo que piensas sobre un cierto tema, y leer lo que la gente piensa sobre ese mismo tema.</dd>
                <dt>¿Cómo puedo ayudar?</dt>
                <dd>
                    <ul>
                        <li>Comparte la página, mientras más gente juegue es mas divertido.</li>
                        <li>En el Tablon <a href="dev">/dev/</a> Comenta bugs que encuentres y/o funciones que pueden servir para MAsk (empezando con funciones fáciles).</li>
                    </ul>
                </dd>
                <dt>¿No existe una App?</dt>
                <dd>Por ahora que es una Beta no creo que sea necesario, pero puedes crear un acceso directo.</dd>
                <dd>
                    <ul>
                        <li>En Android(Chrome): Opciones>Añadir a pantalla de inicio. (Recomendado)</li>
                        <li>En Windows(Chrome): Arrastra el icono que esta antes de dirección de la pagina hasta el escritorio.</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="tab-pane active" id="home">
            <div id="post" class="vale-5">
                <table v-cloak v-for="pst in posts" class="auto-style2" style="border-bottom: 1px solid #ccd6dd;width: 100%">
                    <tbody>
                        <tr>
                            <td class="auto-style3">
                                <div v-html="pst.User != '---' ? (pst.Mask != 'Anónimo' ? '<a>'+pst.User+'</a> ['+pst.Mask+']' : '<a>'+pst.User+'</a>') : pst.Mask"></div>
                            </td>
                            <td class="auto-style3" style="text-align:right"><abbr :title="pst.Date | fecha">{{pst.Date | now}}</abbr><div v-if="b=='/'"> en <label><a :href="pst.BoardLink">{{pst.BoardName}}</a></label></div></td>
                        </tr>
                        <tr>
                            <td class="hide"><img src="" alt="Alternate Text"><video controls="controls"><source src="n/a" type="video/mp4"><source src="n/a" type="video/webm"></video></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p style="text-align: center;">
                                    <blockquote>
                                        <div v-html="pst.Content"></div>
                                    </blockquote>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style3" :id="'estado'+pst.ID">Aplausos:{{pst.Aplausos}} Piedra:{{pst.Piedra}} Papel:{{ pst.Papel}}Tijeras:{{pst.Tijeras}}</td>
                            <td style="text-align:right"><a style="cursor: pointer;" :onclick="'comentar('+pst.ID+');'">Comentarios: <label id="'commentNumber'+pst.ID">{{pst.Comments}}</label></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <script>
                var post = new Vue({
                    el: '#post',
                    data: {
                        b: path,
                        posts: []
                    },
                    methods: {
                        Posts() {
                            this.$http.post(path.length == 1 ? 'zoe.asmx/Last' : 'zoe.asmx/Posts', {
                                board: path.length == 1 ? 0 : path.substring(1)
                            })
                                .then(function (response) {
                                    this.posts = response.body.d;
                                })
                                .catch(function (error) {
                                    // TODO : Falta por controlar
                                })
                        },
                    },
                    filters: {
                        fecha: (function (data) {
                            return moment(data).format('LLLL');
                        }),
                        now: (function (data) {
                            return moment(data).fromNow();
                        })
                    },
                    created: function () {
                        this.Posts();
                    }
                })
            </script>
        </div>
        <div class="tab-pane" id="rules">
            <ol>
                <li>Respetar el tema del Post</li>
            </ol>
        </div>
        <div class="tab-pane" id="registrar">
            Al registrarse esta aceptando los terminos y condiciones de MAsk!!!
        </div>
        <div class="tab-pane" id="entrar">
            Bienvenido~
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal hide">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Modal Header</h2>
            </div>
            <div class="modal-body">
                <p>Some text in the Modal Body</p>
                <p>Some other text...</p>
            </div>
            <div class="modal-footer">
                <h3>Modal Footer</h3>
            </div>
        </div>
    </div>
</body>
</html>
