.auto-style2 {
    width: 100%;
    height: 106px;
    margin-bottom: 10px;
}

.auto-style3 {
    width: 70%;
    height: 30px;
}

.auto-style4 {
    height: 30px;
    width: 605px;
}

.auto-style5 {
    width: 605px;
}